body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('sheck-wes-make-it-rain.gif') no-repeat;
    background-size: cover; /* Ensure the image covers the entire background */
    margin: 0; /* Remove default margin */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for readability */
    padding: 20px;
    border-radius: 10px;
}

.profile-card {
    text-align: center;
}

.avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

h1 {
    margin: 10px 0;
}

.description {
    margin: 10px 0;
}

.social-links a {
    margin: 0 10px;
}

.TextButton img {
    width: 30px;
    height: 30px;
}
